[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    network = log --oneline --graph --all --decorate
    last = log -1 HEAD
    unstage = reset HEAD --
    undo-commit = reset --soft HEAD~1
    llm-describe= "!f() { \
      diff=$(git diff --cached); \
      if [ -z \"$diff\" ]; then echo '❌ No staged changes.'; exit 1; fi; \
      llm_message='Write a clear and concise Git commit message for these staged changes:'; \
      echo \"$diff\" | llm --system \"$llm_message\"; \
    }; f"
    llm-commit = "!f() { \
      diff=$(git diff --cached); \
      if [ -z \"$diff\" ]; then echo '❌ No staged changes.'; exit 1; fi; \
      tmpfile=$(mktemp); \
      echo \"\" > \"$tmpfile\"; \
      echo 'thinking about changes...'; \
      llm_msg=$(git llm-describe); \
      echo \"$llm_msg\"; \
      esc_msg=$(printf %q \"$llm_msg\"); \
      ${EDITOR:-vim} +\"normal i$llm_msg\" \"$tmpfile\" || exit 1; \
      final_msg=$(cat \"$tmpfile\"); \
      if [ -z \"$final_msg\" ]; then echo '❌ Commit aborted: empty message.'; rm \"$tmpfile\"; exit 1; fi; \
      git commit -m \"$final_msg\"; \
      rm \"$tmpfile\"; \
    }; f"
[user]
    name = brandonmoak
    email = developer@bmoak.com
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
